* {
    margin: 0;
    padding: 0;
}

:root {
    --button-bg-color: rgb(0, 0, 0);
    --body-font-color: rgb(255, 255, 255);
    --header-bg-color1: rgb(165, 42, 42);
    --header-bg-color2: rgb(122, 29, 29);
    --button-hov-bg-color: rgb(24, 24, 24);
    --video-shadow-color: rgb(0, 0, 0);
    --alternate-color: rgb(128, 128, 128);
    --footer-color: rgb(0, 0, 0);
    --controls-color: rgb(19, 19, 19);
    --video-width: 750px;
}

body {
    overflow: hidden !important;
    background: url(../assets/images/background-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--body-font-color);
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

#title-container {
    background: linear-gradient(var(--header-bg-color1), var(--header-bg-color2));
    margin-top: 20px;
    max-width: 100vw;
    width: 100%;
}

#title {
    text-align: center;
    font-size: 3rem;
    padding: 10px;
}

.btn-container{
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

button {
    width: 75vw;
    padding: 15px;
    margin-top: 8px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: var(--button-bg-color);
    font-weight: 700;
    color: var(--body-font-color);
    border: 0px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    background: var(--button-hov-bg-color);
}

.video-container{
    max-width: 100vw;
    width: 100%;
   height: 85vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: relative;
}

#video {
    cursor: pointer;
    width: var(--video-width);
    box-shadow: 1px 1px 10px 5px var(--video-shadow-color);
}

#time {
    margin-left: 10px;
}

.center-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 70px;
    opacity: 0.7;
    transition: ease-in 300ms;
    cursor: pointer;
}

#progress-bar {
    width: var(--video-width);
    height: 5px;
    background-color: var(--video-shadow-color);
    display: block;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
}

#progress-bar-track {
    width: 0;
    position: absolute;
    left: 0;
    height: 5px;
    background-color: var(--header-bg-color2);
}

#progress-bar-thumb {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
}

#controls {
    width: var(--video-width);
    height: 35px;
    background-color: var(--controls-color);
    transform: translateY(-90%);
    transition: ease-in 300ms;
    opacity: 0;
    display: flex;
    align-items: center;
}

img {
    width: 15px;
    margin: 5px;
    cursor: pointer;
}

.fscreen-ico {
    margin-left: auto;
}

footer {
    position: absolute;
    bottom: 0;
    /* transform: translateY(100%); */
    max-width: 100vw;
    width: 100%;
    text-align: center;
    text-transform: none;
    background-color: var(--footer-color);
    padding: 10px;
    padding-bottom: 15px;
    font-size: 12px;
}

#github-link {
    color: var(--alternate-color);
    font-weight: 600;
    text-decoration: none;
}

#github-link:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    body {
        overflow: hidden;
    }

    :root {
        --video-width: 600px;
    }

    #title-container {
        position: absolute;
        max-width: 100vw;
        width: 100%;
    }

    #title {
        font-size: 4vw;
    }

    .video-container {
        height: 110vh;
        max-width: 100vw;
        width: 100%;
    }
}

@media (max-width: 650px) {
    :root {
        --video-width: 90vw;
    }

    #title {
        font-size: 8vw;
    }
}